/*Hayes Meekins*/
:root {
  --color-background: #1c1c1c;
  --color-surface: #292929;

  --color-text: #f5f1e8;
  --color-text-muted: #b8b3aa;

  --color-primary: #b4692f;
  --color-primary-dark: #5f3d27;

  --color-accent: #d4a574;
  --color-border: #454545;

  --color-error: #fc1303
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, sans-serif;
}

p {
  font-size: 1.2rem;
}