.shelf {
    width: 100%;
    max-width: 1100px;
    position: relative;
}

.movies {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    gap: clamp(0.8rem, 3vw, 3rem);

    position: relative;
    z-index: 2;
}

.shelfImage {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;

    margin-top: -13%;
}